*.log
*.pyc
.cache/
.coverage
.idea/
.vscode/
.eggs/
*.egg-info/
build/
dist/
docs_old/build/
docs_old/_build
venv/
wheelhouse/

/examples/dev/
dev/

# Mac Stuff
.DS_Store

# -- Docs
_build/
*.mo
docs_build/
generated_pdfs/

public/